<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primera Comunión Mireia 24 05 2025</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <!-- COUNTDOWN -->
    <section id="countdown"></section>
    <!-- END COUNTDOWN -->
    <section class="section-initial">
        <section class="title-wrapper">
            <div>
                Primera Comunión Mireia
            </div>
        </section>
        <section class="video-wrapper">
            <video id="webcam" autoplay playsinline></video>
        </section>
        <section class="buttons-wrapper">
            <div id="button1">
                Enciende la cámara
                <span>🖥️</span> 
            </div>
            <div id="button2">
                Toma la foto 
                <span>📸</span> 
            </div>
            <div id="button3">
                Imprime tu copia
                <span>🖨️</span>  
            </div>
        </section>
    </section>
    <!-- PHOTO -->
    <img id="photo" src="/foto.jpg" alt="Vista actual" />
    <!-- END PHOTO -->
    <!-- LIVE -->
    <!-- LIVE -->
    <script src="/script.js"></script>

</body>

</html>