body {
  text-align: center;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: system-ui;
  font-weight: 900;
  color: white;
  background-image: url(bg.jpg);
}

.section-initial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 2vh;
}

#image {
  max-width: 70vw;
  height: auto;
  border: 5px solid #ffffff;
}

.title-wrapper {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

.title-wrapper div {
  background: #ffffffb3;
  color: #429b80;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  -webkit-text-stroke: 1px black;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.video-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper video {
  border: solid 2px #104b39;
  height: 100%;
  border-radius: 0.5rem;
}

#photo {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: #00000088;
  position: fixed;
  top: 0;
  left: 0;
}

#countdown {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 70vh;
  font-weight: bold;
  text-align: center;
  line-height: 100vh;
  text-shadow: 4px 4px 0 black;
  z-index: 9999;
}

#loading {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: #00000088;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}

#instructions1,
#instructions2,
#instructions3 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  position: fixed;
  width: 30%;
  height: auto;
  bottom: 0;
  border: 0;
  z-index: 10;
}

#instructions2 {
  right: 0;
}

#instructions1,
#instructions3 {
  left: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
